<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kayıt Ol</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<th:block th:replace="~{common/navbar :: navbar}"></th:block>
<div class="container">
    <div class="row" style="height: 85vh">



        <div class="col-md-6 card p-4 m-auto shadow-lg">
            <h1>Kayıt Ol</h1>
            <div  th:if="${message}">
                <div th:classappend="${message.code > 0} ? 'alert alert-success' : 'alert alert-danger'"
                     class="alert"
                     role="alert">
                    <span th:text="${message.message}"></span>
                </div>
            </div>
            <form th:action="@{/register}"  method="POST">
                <div class="mb-3">
                    <label for="fullName" class="form-label">Tam İsim</label>
                    <input type="text" class="form-control" id="fullName" name="fullName" th:required="required">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" id="email" name="email" th:required="required">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Şifre</label>
                    <input type="password" class="form-control" id="password" name="password" th:min="8" th:required="required">
                </div>

                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary">Kayıt Ol</button>
                </div>
            </form>
        </div>
    </div>

</div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>