<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body class="bg-light">
<th:block th:replace="~{common/navbar :: navbar}"></th:block>
<div class="container">
    <div class="row" style="height: 85vh">
        <div class="col-md-6 m-auto">

            <th:block th:replace="common/message :: message"></th:block>

            <div class="card">
                <div class="card-header">
                    Hesap Bilgileri
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush mb-2">
                        <li class="list-group-item my-1" th:text=" 'Tam isim: ' + ${user.fullName}"></li>
                        <li class="list-group-item my-1" th:text=" 'Email: ' + ${user.email}"></li>
                        <li class="list-group-item my-1" th:text=" 'Oluşturulma tarihi : ' + ${user.createdAt}"></li>
                    </ul>
                    <a th:href="@{/profile/edit}" class="btn btn-primary">Düzenle</a>
                </div>
            </div>
        </div>
    </div>



</div>
<th:block th:replace="~{common/footer :: footer}"></th:block>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>