<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body class="bg-light">
<th:block th:replace="~{common/navbar :: navbar}"></th:block>

<div class="container">
    <div class="row" style="height: 85vh">



        <div class="col-md-6 card p-4 m-auto shadow-lg">
            <h1>Gönderi Oluştur</h1>

            <th:block th:replace="common/message :: message"></th:block>


            <form th:action="@{/post/create}"  method="POST" th:object="${post}">
                <div class="mb-3">
                    <label for="title" class="form-label">Başlık</label>
                    <textarea type="text" class="form-control" id="title" name="title" required maxlength="64" th:field="*{title}"></textarea>
                    <div class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
                </div>
                <div class="mb-3">
                    <label for="text" class="form-label">Gönderi Metni</label>
                    <textarea type="text" class="form-control" id="text" name="text" required maxlength="512" th:field="*{text}"></textarea>
                    <div class="text-danger" th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></div>
                </div>
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary">Paylaş</button>
                    <a th:href="@{/}" class="btn btn-danger">İptal</a>
                </div>
            </form>
        </div>
    </div>

</div>


<th:block th:replace="~{common/footer :: footer}"></th:block>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>