<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body class="bg-light">
<th:block th:replace="~{common/navbar :: navbar}"></th:block>
<div class="container">

    <th:block th:replace="common/message :: message"></th:block>

    <div class="row card my-5 shadow">
        <div class="col card-header">
            <p th:text="${post.user.fullName}"></p>
            <p th:text="${post.createdAt}"></p>
        </div>
        <div class="col card-body">
            <h2 th:text="${post.title}" class="card-title text-primary"></h2>
            <p th:text="${post.text}" class="card-text"></p>
        </div>
    </div>

    <h3 class="h3 row">Yorumlar</h3>

    <div th:each="comment : ${post.comments}" class="row card shadow my-3">
        <div class="col card-header">
            <p th:text="${comment.user.fullName}"></p>
            <p th:text="${comment.createdAt}"></p>
        </div>
        <div class="col card-body">
            <p th:text="${comment.text}" class="card-text"></p>
        </div>
    </div>

    <h3 class="h3 row"> Yorum Yap</h3>
    <div class="row card shadow my-3">
        <form th:action="@{/post/{id}/comment/create(id=${post.id})}" method="post" class="card-body">
            <div class="mb-3">
                <label for="text" class="form-label">Yorum</label>
                <textarea name="text" id="text" class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Gönder</button>
        </form>
    </div>



</div>
<th:block th:replace="~{common/footer :: footer}"></th:block>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>