<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-icons.min.css}">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body class="bg-light">
<th:block th:replace="~{common/navbar :: navbar}"></th:block>
<div class="container py-5">

    <th:block th:replace="common/message :: message"></th:block>


    <div class="row">
        <div class="row mx-auto row-cols-1 g-4">
            <div class="mx-auto col col-md-12 col-lg-9 card border-0 h-100 shadow-sm">
                <div class="row pt-3">

                    <th:block th:replace="~{common/like :: like-buttons(post=${post}, userLikeStatus=${userLikeStatus})}"></th:block>

                    <div class="col col-10">
                        <div class="d-flex align-items-center mb-1">
                            <h5 class="card-title mb-0 me-2">
                                <a class="text-dark text-decoration-none"
                                   th:text="${post.title}">
                                    Post Title
                                </a>
                            </h5>
                            <span class="badge bg-primary text-uppercase small">
                                        QUESTION
                                    </span>
                        </div>

                        <p class="mb-2 small text-secondary text-start" th:text="${post.text}">
                            Post main content goes here. If it has newlines, they will be respected.
                        </p>

                        <div
                                class="d-flex justify-content-between align-items-center text-muted small border-top pt-3">
                            <div class="d-flex align-items-center">
                                <img src="https://picsum.photos/200" alt="User Avatar"
                                     class="rounded-circle me-2" width="24" height="24">
                                <span>Posted by
                                            <a href="#" class="text-decoration-none fw-bold"
                                               th:text="${post.user.fullName}">Username</a>
                                        </span>
                                <span class="ms-2" th:text="${#temporals.format(post.createdAt, 'MMMM dd, yyyy hh:mm')}">Time ago</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row mt-4">
        <div class="row row-cols-1 g-3 mx-auto" th:each="comment : ${post.comments}">
            <div class=" col col-md-9 col-lg-6 card border-0 h-100 shadow-sm mx-auto">
                <div class="row pt-3">


                    <div class="col col-11 mx-auto">
                        <div class="d-flex align-items-center mb-1">
                            <!-- empty because title section-->
                        </div>

                        <p class="mb-2 small text-secondary" th:text="${comment.text}">
                            Post main content goes here. If it has newlines, they will be respected.
                        </p>

                        <div
                                class="d-flex justify-content-between align-items-center text-muted small border-top pt-3">
                            <div class="d-flex align-items-center">
                                <img src="https://picsum.photos/200" alt="User Avatar"
                                     class="rounded-circle me-2" width="24" height="24">
                                <span>Posted by
                                            <a href="#" class="text-decoration-none fw-bold"
                                               th:text="${comment.user.fullName}">Username</a>
                                        </span>
                                <span class="ms-2" th:text="${#temporals.format(comment.createdAt, 'MMMM dd, yyyy hh:mm')}">Time ago</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="row">

    <div class="row row-cols-1 g-4 mx-auto" sec:authorize="isAuthenticated()">
        <div class="col col-md-9 col-lg-6 card border-0 h-100 shadow-sm mx-auto">
            <form th:action="@{/post/{id}/comment/create(id=${post.id})}" method="post" class="card-body">
                <div class="mb-3">
                    <label for="text" class="form-label">Yorum</label>
                    <textarea name="text" id="text" class="form-control"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Gönder</button>
            </form>
        </div>
    </div>
</div>



</div>

<th:block th:replace="~{common/login-prompt :: loginPromptModal}"></th:block>

<th:block th:replace="~{common/footer :: footer}"></th:block>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

<th:block th:replace="~{common/like :: like-script}"></th:block>

</body>
</html>