<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-icons.min.css}">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body class="bg-light">
<th:block th:replace="~{common/navbar :: navbar}"></th:block>
<div class="container py-5">

    <th:block th:replace="common/message :: message"></th:block>


    <div class="row">
        <div class="row mx-auto row-cols-1 g-4">
            <div class="mx-auto col col-md-12 col-lg-9 card border-0 h-100 shadow-sm">
                <div class="row pt-3">
                    <div class="d-flex flex-column align-items-center me-3 text-center col col-1">
                        <a href="#" title="Upvote" class="text-decoration-none text-muted d-block mb-1">
                            <i class="bi bi-arrow-up fs-5"></i> <!-- Up arrow icon -->
                        </a>
                        <span class="fw-bold" th:text="${post.likeCount}">
                                </span>
                        <a href="#" title="Downvote" class="text-decoration-none text-muted d-block mt-1">
                            <i class="bi bi-arrow-down fs-5"></i> <!-- Down arrow icon -->
                        </a>
                    </div>

                    <div class="col col-10">
                        <div class="d-flex align-items-center mb-1">
                            <h5 class="card-title mb-0 me-2">
                                <a class="text-dark text-decoration-none"
                                   th:text="${post.title}">
                                    Post Title
                                </a>
                            </h5>
                            <span class="badge bg-primary text-uppercase small">
                                        QUESTION
                                    </span>
                        </div>

                        <p class="mb-2 small text-secondary text-start" th:text="${post.text}">
                            Post main content goes here. If it has newlines, they will be respected.
                        </p>

                        <div
                                class="d-flex justify-content-between align-items-center text-muted small border-top pt-3">
                            <div class="d-flex align-items-center">
                                <img src="https://picsum.photos/200" alt="User Avatar"
                                     class="rounded-circle me-2" width="24" height="24">
                                <span>Posted by
                                            <a href="#" class="text-decoration-none fw-bold"
                                               th:text="${post.user.fullName}">Username</a>
                                        </span>
                                <span class="ms-2" th:text="${#temporals.format(post.createdAt, 'MMMM dd, yyyy hh:mm')}">Time ago</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row mt-4">
        <div class="row row-cols-1 g-3 mx-auto" th:each="comment : ${post.comments}">
            <div class=" col col-md-9 col-lg-6 card border-0 h-100 shadow-sm mx-auto">
                <div class="row pt-3">


                    <div class="col col-11 mx-auto">
                        <div class="d-flex align-items-center mb-1">
                            <!-- empty because title section-->
                        </div>

                        <p class="mb-2 small text-secondary" th:text="${comment.text}">
                            Post main content goes here. If it has newlines, they will be respected.
                        </p>

                        <div
                                class="d-flex justify-content-between align-items-center text-muted small border-top pt-3">
                            <div class="d-flex align-items-center">
                                <img src="https://picsum.photos/200" alt="User Avatar"
                                     class="rounded-circle me-2" width="24" height="24">
                                <span>Posted by
                                            <a href="#" class="text-decoration-none fw-bold"
                                               th:text="${comment.user.fullName}">Username</a>
                                        </span>
                                <span class="ms-2" th:text="${#temporals.format(comment.createdAt, 'MMMM dd, yyyy hh:mm')}">Time ago</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="row">

    <div class="row row-cols-1 g-4 mx-auto" sec:authorize="isAuthenticated()">
        <div class="col col-md-9 col-lg-6 card border-0 h-100 shadow-sm mx-auto">
            <form th:action="@{/post/{id}/comment/create(id=${post.id})}" method="post" class="card-body">
                <div class="mb-3">
                    <label for="text" class="form-label">Yorum</label>
                    <textarea name="text" id="text" class="form-control"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Gönder</button>
            </form>
        </div>
    </div>
</div>



</div>
<th:block th:replace="~{common/footer :: footer}"></th:block>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

<script th:inline="javascript">
    const csrfToken = document.querySelector("meta[name='_csrf']")?.getAttribute("content");
    const csrfHeaderName = document.querySelector("meta[name='_csrf_header']")?.getAttribute("content");
    const postId = /*[[${post.id}]]*/ '';
    let status = "";
    const likeCountElement = document.getElementById("like-count");
    let likeCount = parseInt(likeCountElement.innerText,10);
    const likeButton = document.getElementById("like-button");
    const dislikeButton = document.getElementById("dislike-button");

    // Fetch user's like status on page load
    window.onload = function () {
        fetch(`/likes/status?postId=${postId}`, {
            method: "GET",
            headers: {"Content-Type": "application/json",[csrfHeaderName]: csrfToken}
        })
            .then(response => response.json())
            .then(data => {
                status = data.status + '';
                updateButtonStyles(); // Set initial button styles
            })
            .catch(error => console.error("Error fetching status:", error));
    };

    // TODO: shitty code here refactor code of handle like on ui
    function handleLike(action) {
        if (status === action) {
            action = "remove";
        }
        if (action === "like") {
            if (status === "dislike"){
                likeCount+= 2;
            }else {
                likeCount++;
            }
        } else if (action === "dislike") {
            if (status === "like"){
                likeCount-= 2;
            }else{
                likeCount--;
            }
        } else if (action === "remove") {
            // Remove like or dislike
            if (status === "like") {
                likeCount--;
            } else if (status === "dislike") {
                likeCount++;

            }
        }
        status = action
        fetch(`/likes/${action}?postId=${postId}`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json" ,
                [csrfHeaderName]: csrfToken
            }
        }).catch(error => console.error("Error posting like: ", error));

        updateButtonStyles()
    }

    function updateButtonStyles() {
        // Reset button styles
        likeButton.classList.remove("btn-success", "active");
        dislikeButton.classList.remove("btn-danger", "active");
        likeButton.classList.add("btn-outline-success");
        dislikeButton.classList.add("btn-outline-danger");
        likeCountElement.innerText = likeCount

        if (status === "like") {
            likeButton.classList.add("btn-success", "active");
            likeButton.classList.remove("btn-outline-success");
        } else if (status === "dislike") {
            dislikeButton.classList.add("btn-danger", "active");
            dislikeButton.classList.remove("btn-outline-danger");
        }
    }
</script>

</body>
</html>