---
import Layout from "@/layouts/Layout.astro"
import { AuthForm } from "@/components/react/AuthForm"
---

<Layout title="Giriş Yap">
    <div class="grow flex items-center justify-center py-12">
        <AuthForm mode="login" client:load />
    </div>
</Layout>