<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pati Soru</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<th:block th:replace="~{common/navbar :: navbar}"></th:block>

<div class="bg-light text-center py-5">
    <div class="container">
        <div class="row">
            <div class="text-center my-auto col-md-6 col-sm-12">
                <h1 class="display-4 text-primary px-3">Hoş Geldiniz, PatiSoru'ya!</h1>
                <p class="lead text-secondary px-3">
                    Evcil hayvanlarınız hakkında her şeyi sorabileceğiniz bir topluluk.
                    Sorularınızı sorun, fikirlerinizi paylaşın ve veterinerlerden öneri alın!
                </p>
            </div>
            <div class="col-md-6">
                <img th:src="@{/photos/hero.png}" alt="Sevimli evcil hayvanlar" class="img-fluid m-auto">
            </div>
        </div>
        <h3 class="h3 text-primary border-top py-5 ps-2 row">Öne Çıkan Paylaşımlar</h3>
        <div class="row row-cols-2 row-cols-md-5 g-4">
            <div class="col" th:each="post : ${featuredPosts}">
                <div class="shadow card h-100">
                    <div class="card-header" th:text="${post.user.fullName}"></div>
                    <div class="card-body">
                        <h5 class="card-title" th:text="${post.title}"></h5>
                        <p class="card-text" th:text=" 'Likes: ' + ${post.likeCount}"></p>
                        <a class="stretched-link" th:href="@{/post/{id}(id=${post.id})}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="~{common/footer :: footer}"></th:block>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>